{% extends('base.html.twig') %}

{% block insight %}
    <section class="show">
            <article class="activite">
                <h2>{{ atelier.nom }}</h2>
                <p>{{ atelier.description }}</p>
            </article>
    </section>
{% endblock %}
