{% extends('base.html.twig') %}

{% block class %}class="full"{% endblock %}

{% block insight %}
    <section id="aboutGEM">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum eaque, neque nisi nulla praesentium quo reiciendis tempore vel voluptatem. Commodi consequuntur doloribus molestiae perspiciatis ratione repellendus tempore temporibus unde!</><span>Aut, culpa dolor eos expedita facilis itaque, iure magni maiores obcaecati odio quis saepe! Architecto beatae cumque, distinctio dolorum eligendi facere fugiat, natus nobis quas quo quod soluta tempora ullam.</span><span>At eaque enim explicabo harum ipsam laborum magnam nam, nobis non, nostrum odio officiis placeat porro sapiente sit tempore tenetur. At consectetur cumque dolorum ex, repellat rerum voluptate. A, eveniet?</span><span>Asperiores aut debitis delectus dolorum eaque exercitationem ipsa iste laudantium magni nesciunt officiis, optio placeat rem sed temporibus ullam voluptate. Explicabo obcaecati quos ut. Aliquam ducimus enim recusandae sint suscipit?</span><span>Asperiores beatae doloremque earum eius enim incidunt laborum nam nihil nostrum qui quidem rem sed suscipit tempora veritatis, voluptas voluptatem! Consectetur dignissimos doloribus itaque laborum natus, odio sed sint soluta.</span><span>Accusamus, commodi corporis ducimus et explicabo non numquam obcaecati perspiciatis porro quas quasi, similique velit. Assumenda aut, autem delectus dignissimos dolore ducimus facilis, ipsa maxime porro praesentium quas quo unde.
        </p>
    </section>
{% endblock %}