<footer>
    <div>
        <h4>Nos partenaires :</h4>
    <nav>
        <ul>
            <li><a href="http://www.adapei33.com/" target="_blank">ADAPEI</a></li>
            <li><a href="https://www.nouvelle-aquitaine.ars.sante.fr/" target="_blank">ARS Nouvelle Aquitaine</a></li>
        </ul>
    </nav>
    </div>

    <a href="">
        <div>
            <img src="" alt="">
            <p>Notre Facebook</p>
        </div>
    </a>

    <p>Mentions légales</p>
</footer>
