<footer class="container-fluid d-flex justify-content-between align-items-center p-4">
    <div>
        <h4>Nos partenaires :</h4>
    <nav>
        <ul>
            <li><a href="http://www.adapei33.com/" target="_blank">ADAPEI</a></li>
            <li><a href="https://www.nouvelle-aquitaine.ars.sante.fr/" target="_blank">ARS Nouvelle Aquitaine</a></li>
        </ul>
    </nav>
    </div>

    <a href="https://www.facebook.com/GEM-du-Bassin-dArcachon-1801079033329883" target="_blank">
        <div>
            <img src="" alt="Logo facebook">
            <p>Notre Facebook</p>
        </div>
    </a>

    <a href="#">Mentions légales</a>
</footer>
