// Specs
$base-color : rgb(67,169,255);
$deep-color : rgb(29, 73, 109);

@font-face
{
  font-family: "Hind";
  src : url('https://fonts.googleapis.com/css?family=Hind&display=swap');
}

@font-face
{
  font-family: "EasyReadingPRO";
  src : url('../fonts/EasyReadingPRO.ttf');
  src: url('../fonts/EasyReadingPRO.woff');
}

ul{
  margin : 0;
  li{
    list-style-type: none;
  }
}

body
{
font-family: 'EasyReadingPRO', sans-serif;
}

//Top Bar -------------------------------
#top_bar{
  
  background-color:rgba($color: #FFF, $alpha: 0.85);
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
  box-shadow:  3px 0 12px black;

  #logo{
    width: 8rem;
    &:hover, .active{
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
  }

  .menu_item
  {
    display: inline-block;
  }

  .menu_icon
  {
    width : 2rem;
  }

  a{
    color:black;
    
    &:hover, &:focus
    {
      color: $base-color;
      text-decoration: none;

      .menu_icon
      {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
      }
    }
  }
  .active {
    color: $base-color;
    text-decoration: none;

    .menu_icon
    {
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
  }
}

//Menu Mobile -------------------------
#mobile_menu{
  background-color: $deep-color;
  box-shadow: 3px -3px 6px $base-color;

  .glow{
    background: linear-gradient(0deg, rgba(67,169,255,0.8) 20%, rgba(67,169,255,0.1) 100%);
  }
}


//Header -------------------------------
.full
{
  height: calc(100vh - 70px);
}

//Page Home -----------------------------
#aboutGEM
{
  height: 100%;
  background-image: url(../img/gem_groupe1.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position : relative;

  .about
  {
    position : absolute;
    top : 45%;
  
    article
    {
      background-color: rgba($color: #FFF, $alpha: 0.95);
      border-radius: 0 2rem 2rem 0;
    }

    .menu_icon
    {
      width : 3rem;
    }

    .arrow_icon
    {
      height: 2rem;
      width: 2rem;
    }
  }
}

//Bouton
.bouton
{
  display: block;
  margin-bottom: 1rem;
  background-color: $base-color;
  color: white;
  text-transform: uppercase;
  position : relative;
  text-align: center;
  border-radius: 10px;
  border:none;
  font: inherit;
  cursor: pointer;

  &:hover
  {
    background-color: $deep-color;
    text-decoration: none;
    color : white;
  }

  .menu_icon
  {
    position :absolute;
    top : 50%;
    transform: translateY(-50%);
    left : 10px;
  }

  .arrow_icon
  {
    position :absolute;
    top : 50%;
    transform: translateY(-50%);
    right : 10px;
  }
}

//Page Activités --------------------
#activites
{
  height: 100%;
  background-image: url(../img/larros.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .insight
  {
    background-color: rgba($color: #FFF, $alpha: 0.85);
    border-radius: 10px;

    h2
    {
      margin-bottom: 0;
    }

    .image
    {
      overflow: hidden;

      .img-fluid
      {
        min-width: 100%;
      }

      .anime
      {
        transition: all 1s ease;
      }
    }

    h2
    {
      text-align: center;
      text-transform: uppercase;
    }

    p
    {
      text-align: center;
    }

    a
    {
      &:hover, &:focus
      {
        text-decoration: none;
        color : $deep-color;

        .bouton
        {
          background-color: $deep-color;
        }

        .image .anime
        {
          transform: scale(1.2);
        }
      }
    }
  }
}

//Présentation des ateliers
.show
{

  .showActivite
  {
  border-radius: 25px;
  border: $deep-color 2px solid;
  overflow: hidden;

    .content
    {
      background-color: $deep-color;
      color : white;
      min-height: 100%;
    }

    .soon
    {
      .bouton
      {
        margin-bottom: 0;
        width: 100%;
      }

      .red
      {
        background-color: coral;

        &:hover, &:focus
        {
          background-color: chocolate;
        }
      }
    }
  }
}

//Page Contact -----------------------
#coordonnees
{
    background-color: $deep-color;
    color:white;

    iframe{
        width : 100%;
        height: 450px;
        margin : 0 auto;
        border-radius: 10%;
    }
}

//Footer -------------------------------
footer
{

  box-shadow: 1px -1px 6px $deep-color;

  a
  {
    color : $base-color;
    
    &:hover, &:focus
    {
      color : $deep-color;
      text-decoration: none;
    }
  }
}

//Medias Queries -----------------------
@media screen and (max-width:992px)
{
  //Page Home ---------
  #aboutGEM
  {
    .about
    {
      top : 50%;
      transform: translateY(-50%);
    }
  }

  //Footer ---------
  footer
  {
    margin-bottom: 160px;
  }
}

@media screen and (max-width:768px)
{
  footer
  {
    margin-bottom: 80px;
  }
}