<!DOCTYPE html>
<html lang="fr">
<head>
    {% include('elements/_head.html.twig') %}
    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>{% block title %}GEM, Bassin d'Arcachon{% endblock %}</title>
</head>

<body>
<header {% block class %}{% endblock %}>
    {% include('elements/_topBar.html.twig') %}
    {% block insight %}{% endblock %}
</header>
<main>
    {% block main %}{% endblock %}
</main>
    {% block footer %}{% include('elements/_footer.html.twig') %}{% endblock %}
    {% include('elements/_navbar.html.twig') %}
    {% block javascripts %}{% endblock %}
</body>
</html>
